*.py[cod]

# C extensions
*.so

# Vim swap files
*.swp

# Packages
*.egg
*.egg-info
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage

# Complexity
output/*.html
output/*/index.html

# Cookiecutter
output/

# Virtual envs
venv/
